<h1>Password Generator</h1>
<div>
  <label>Enter Length </label>
  <input #passLengthEvent (input)="onChangeLength(passLengthEvent.value)" />
</div>
<div>
  <input (change)="onChangeUseLetters()" type="checkbox" /><label>Use letter</label> 
</div>
<div>
  <input (change)="onChangeUseNumbers()"type="checkbox" /><label>Use numbers</label> 
</div>
<div>
  <input (change)="onChangeUseSymbols()" type="checkbox" /><label>Use symbols</label> 
</div>
<br/>
<button 
(click) = "onButtonClick()"
[disabled]="!(length && (useNumbers || useLetters || useSymbols))">Generate</button>
<br/>
<div>
  <label>Your Password</label>
  <input [value] = "password"/>
</div>